# Development
DEBUG=True
PRODUCTION=False

# Production
DB_NAME=<nama database>
DB_HOST=<host database>
DB_PORT=<port database>
DB_USER=<username database>
DB_PASSWORD=<password database>
SCHEMA=<schema name>
DEBUG=False
PRODUCTION=True